@import url('https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Balsamiq+Sans:ital@0;1&family=Gluten:wght@200&family=Lobster&display=swap');
@import './navbar';
@import './variables';

/* 
----------------
Template Name: Dictionary Website
Author: Shokhrukh
Author Email: shokhrukh024@gmail.com
Version: 1.0.0
----------------
----------------
Table of Content
----------------
1. Primary_Styles_section
2. Layout_section
3. Sidebar_section
4. Home_section
5. Education_section
6. Skills_section
7. Services_section
8. Works_section
9. Contact_me_section
10. Media_queries_section
*/



/* ----- Primary_Styles_section Start ----- */
* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   /* font-family: 'Acme', sans-serif; */
   /* font-family: 'Architects Daughter', cursive; */
   /* font-family: 'Balsamiq Sans', cursive; */
   /* font-family: 'Lobster', cursive; */
   font-family: 'Gluten', cursive;
   background: #fbf5e7;
}

h1 {
   font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
}
/* ----- Primary_Styles_section End ----- */




html,
body {
  height: 100%;
}
