<template>
  <div>
      <words-table></words-table>
  </div>
</template>

<script>
import WordsTable from '../components/WordsTable.vue'
export default {
    components: {
        WordsTable
    }
}
</script>

<style>

</style>