<template>
  <div class="container">
    <div class="">
      <search-bar class="px-3 my-3"></search-bar> 
      <words-table></words-table>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import SearchBar from '../components/SearchBar.vue'
import WordsTable from '../components/WordsTable.vue';

export default {
  name: 'Home',
  components: {
    SearchBar,
    WordsTable,
  },
  data(){
    return{
    }
  },
  async created(){
    await this.GET_WORDS();
  },
  computed: {
    ...mapGetters(['getWords'])
  },
  methods: {
    ...mapActions(['GET_WORDS']),
    
    
  }
}
</script>
