<template>
       <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
            <div>
                <router-link to="/">
                    <button class="btn mt-2"><i class="fas fa-arrow-left"></i> Назад</button>
                </router-link>
            </div>
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form col-md-12" action="" method="post">
                            <div class="text-center text-white fs-5 text-bold">Вход</div>
                            <div class="form-group">
                                <label for="username" class="text-white">Логин:</label><br>
                                <input type="text" class="form-control" v-model="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Пароль:</label><br>
                                <input type="password" class="form-control" v-model="password">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="text-white d-flex align-items-center">
                                    <span>Запомнить меня</span> 
                                    <input class="ml-1" type="checkbox">
                                </div>
                                <a href="#" class="text-white">Регистратция здесь</a>

                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-warning text-white" type="button" @click="goToAdminPage">Войти</button>
                            </div>
                                <!-- <input type="submit" name="submit" class="btn btn-warning btn-md mb-1" value="Войти"> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data(){
        return{
            email: '',
            password: ''
        }
    },
    methods:{
        ...mapActions([
            // 'LOGIN'
        ]),
        async goToAdminPage(){
            // await this.LOGIN({email: this.email, password: this.password, router: this.$router});
        }    
    }
}
</script>

<style scoped>
#login .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 400px;
  height: 325px;
  border: 1px solid #9C9C9C;
  background-color: green;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -75px;
}
</style>