<template>
  <div class="px-md-2 mt-1">

   <div class="d-flex justify-content-end">
       <b-button v-b-modal.modal-prevent-closing class="d-flex align-items-center" variant="primary">
           <feather type="plus" size="20"></feather>
           <span>Добавить категорию</span>
       </b-button>
   </div>

   <div class="mt-3">
       <b-table striped hover :items="items" :fields="fields">
            <template #cell(actions)>
                <b-button size="sm" variant="warning" class="mr-1">
                    <feather type="edit-2" class="text-white p-25 pt-1" size="20"></feather>
                </b-button>
                <b-button size="sm" variant="danger">
                    <feather type="trash-2" class="text-white p-25 pt-1" size="20"></feather>
                </b-button>
            </template>
       </b-table>

       <div class="d-flex justify-content-between">
        <b-form-group>
            <b-form-select
            v-model="perPage"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>

        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
        ></b-pagination>
     </div>
   </div>

    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Добавление нового категория"
      @show="resetModal"
      @hidden="resetModal"
      @ok="addNewCategory"
      ok-title="Добавить"
      cancel-title="Отменить"
    >
        <b-form-input v-model="category_name" placeholder="Название" class="my-2"></b-form-input>
    </b-modal>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data(){
        return {
            category_name: '',
            items: [],
            fields: [
                { key: 'num', label: '№'},
                { key: 'category_name', label: 'Название'},
                { key: 'actions', label: 'Действия'},
            ],
            totalRows: 1,
            currentPage: 1,
            perPage: 5,
            pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
        }
    },
    async created(){
        await this.GET_CATEGORIES();
        this.items = this.getCategories;
        this.items.forEach((element, index) => {
            element.num = index + 1
        });
    },
    computed: {
        ...mapGetters(['getCategories'])
    },
    methods: {
        ...mapActions(['ADD_CATEGORY', 'GET_CATEGORIES']),
        async addNewCategory(){
            await this.ADD_CATEGORY({category_name: this.category_name});
        }
    }

}
</script>

<style>

</style>