<template>
  <div class="px-md-2 mt-1">

   <div class="d-flex justify-content-end">
       <b-button v-b-modal.modal-prevent-closing class="d-flex align-items-center" variant="primary">
           <feather type="plus" size="20"></feather>
           <span>Добавить слово</span>
       </b-button>
   </div>

    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      title="Добавление нового слова"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-title="Добавить"
      cancel-title="Отменить"
    >
        <b-form-input v-model="title" placeholder="Название" class="mt-2"></b-form-input>
        <b-form-textarea id="textarea" v-model="description" placeholder="Описание" rows="3" max-rows="6"
            class="mt-2"></b-form-textarea>
        <b-form-select v-model="category" :options="options" class="mt-2"></b-form-select>
    </b-modal>

  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    data(){
        return {
            title: '',
            description: '',
            category: null,
            selected: null,
            options: [
                { value: null, text: 'Пожалуйста выберите категорию' },
                { value: 'A', text: 'А' },
                { value: 'B', text: 'Б' },
            ]
        }
    },
    computed: {
        ...mapGetters([''])
    },
    methods: {
        ...mapActions(['ADD_WORD']),
        async newWord(){
            let data = { title: this.title, description: this.description, category: this.category }
            await this.ADD_WORD(data);
        }
    }

}
</script>

<style>

</style>