<template>
  <div>
      Product details -- {{id}}
  </div>
</template>

<script>
export default {
    props: {
        id: {
            type: [String, Number],
            required: true
        },
    }
}
</script>

<style>

</style>