<template>
  <div class="container">
    <div class="d-flex justify-content-center">
      <!-- class="flex-grow-1" -->
    </div>
    <!-- <b-breadcrumb :items="breadcrumb"></b-breadcrumb> -->
    <div>
      <div class="text-left h4">
          Перейти на
      </div>
      <div>
        <b-button-group>
          <b-button v-for="(button, index) in buttons" :key="index" :variant="button.color" :class="button.active">{{button.title}}</b-button>
        </b-button-group>
      </div>
        {{getWords}}

      <b-list-group class="mt-3 text-left" >
        <b-list-group-item v-for="(word, index2) in getWords" :key="index2" @click="itemClicked(word._id)" style="cursor: pointer;">{{word.title}}</b-list-group-item>
      </b-list-group>

      <b-pagination
        class="mt-2"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>

    </div>
    <!-- <b-card class="text-center">
      <div class="text-light">
        
      </div>
    </b-card> -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Home',
  components: {

  },
  data(){
    return{
      choosedButton: '',
      buttons: [
        {title: 'А', link: '', color: 'success', active: 'active'},
        {title: 'Б', link: '', color: 'success'},
        {title: 'В', link: '', color: 'success'},
        {title: 'Г', link: '', color: 'success'},
        {title: 'Д', link: '', color: 'success'},
        {title: 'Е', link: '', color: 'success'},
        {title: 'Ё', link: '', color: 'success'},
        {title: 'Ж', link: '', color: 'success'},
        {title: 'З', link: '', color: 'success'},
        {title: 'И', link: '', color: 'success'},
        {title: 'Й', link: '', color: 'success'},
        {title: 'К', link: '', color: 'success'},
        {title: 'Л', link: '', color: 'success'},
        {title: 'М', link: '', color: 'success'},
        {title: 'Н', link: '', color: 'success'},
        {title: 'О', link: '', color: 'success'},
        {title: 'П', link: '', color: 'success'},
        {title: 'Р', link: '', color: 'success'},
        {title: 'С', link: '', color: 'success'},
        {title: 'Т', link: '', color: 'success'},
        {title: 'У', link: '', color: 'success'},
        {title: 'Ф', link: '', color: 'success'},
        {title: 'Х', link: '', color: 'success'},
        {title: 'Ц', link: '', color: 'success'},
        {title: 'Ч', link: '', color: 'success'},
        {title: 'Ш', link: '', color: 'success'},
        {title: 'Щ', link: '', color: 'success'},
        {title: 'Ы', link: '', color: 'success'},
        {title: 'Э', link: '', color: 'success'},
        {title: 'Ю', link: '', color: 'success'},
        {title: 'Я', link: '', color: 'success'},
      ],
      breadcrumb: [
        {
          text: 'Home',
          href: '#'
        },
        {
          text: 'Dictionary',
          href: '#'
        },
        {
          text: 'Islamic',
          active: true
        }
      ],
      perPage: 3,
      currentPage: 1,
      
    }
  },
  async created(){
    await this.GET_WORDS();
  },
  computed: {
    ...mapGetters(['getWords'])
  },
  methods: {
    ...mapActions(['GET_WORDS']),
    itemClicked(_id){
        this.$router.push({name: 'product-details', params: {id: _id}})
    },
    
    
  }
}
</script>
