<template>
  <div>
    <!-- <b-navbar toggleable="lg" type="dark" variant="success" class="px-2 py-1 d-flex justify-content-between">
        <div>
            <b-navbar-brand href="#">Lug'atim</b-navbar-brand>
        </div>

        <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right>
            <template #button-content>
                <em>User</em>
            </template>
            <b-dropdown-item href="#">Profile</b-dropdown-item>
            <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-button class="d-flex align-items-center" variant="success" to="/login">
                <feather type="user" size="19"></feather>
                <span class="ml-1 mt-1">Войти</span>
            </b-button>
        </b-navbar-nav>
    </b-navbar> -->

    <navbar></navbar>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex align-items-center">
            <!-- <search-bar class="flex-grow-1"></search-bar> -->
        </div>
        <div class="col-3"></div>
    </div>
    
     <router-view/>

  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import SearchBar from '../components/SearchBar.vue'
export default {
    components: {
        Navbar,
        SearchBar
    }
}
</script>

<style>

</style>